.authentication-page {

}

.dark-mode .authentication-page {

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.text{
    font-size: 2rem;
    text-align: center;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 1px;
}

.inputs{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 8px;
}

.input input{
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-left: 20px;
}

.submit-container{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.login-newAcc-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 480px;
    height: 48px;
    color:white;
    background-color: grey;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.signup{
    margin: auto;
    margin-top: 4px;
    color: black;
    margin: 1%;
    text-align: center;
}

.signup span{
    text-decoration: underline;
    cursor: pointer;
    color:purple;
}