.home {
  background-color: white;
  color: black;
}

.dark-mode .home {
  background-color: black;
  color: white;
}

.login-button, .dark-mode-button {
  margin: 10px;
  padding: 10px;
}

.dark-mode .login-button, .dark-mode .dark-mode-button {
  background-color: #333;
  color: white;
}
