.movie-info-page {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.main-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-info-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  gap: 20px;
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.sortBy {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.sortBy label {
  margin-right: 10px;
}

.review {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  margin-bottom: 10px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.review p{
  margin: 5px 0;
  text-align: left;
}

.movie-text-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cast-section {
  margin-top: 56px;
  margin-bottom: 56px;
}

.cast-scroller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.cast-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 8px;
  flex-grow: 1;
  overflow-x: hidden;
}

.actor {
  flex: 0 0 auto;
  text-align: center;
}

.actor img {
  height: 70%;
  width: 70%;
  border-radius: 10px;
}

.scroll-button {
  padding: 10px;
  background-color: #f9f9f9;
  color: #636363;
  border: 2px solid #636363;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.scroll-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.dark-mode .scroll-button {
  background-color: #444444;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.dark-mode .movie-info-page {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .main-content {
  background-color: #444444;
}

.dark-mode .movie-text-info{
  color: white;
}

.dark-mode .review {
  background-color: #444444;
  margin: 10px 0;
}