.movie-info-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dark-mode .movie-info-page {
    background-color: #121212;
    color: #ffffff;
  }

.main-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-info-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    gap: 20px;
}

.poster {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-text-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cast-section {
  margin-top: 56px;
}

.cast-scroller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.cast-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 8px;
  flex-grow: 1;
  overflow-x: hidden;
}

.actor {
  flex: 0 0 auto;
  text-align: center;
}

.actor img {
    height: 70%;
    width: 70%;
    border-radius: 10px;
}

.scroll-button {
    padding: 10px;
    background-color: #f9f9f9;
    color: #636363;
    border: 2px solid #636363;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.scroll-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.dark-mode .scroll-button {
  background-color: #444444;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.dark-mode .movie-info-page{
    background-color: black;
}

.dark-mode .main-content{
    background-color: rgb(20, 20, 20);
}

.dark-mode .movie-text-info{
    color: white;
}