body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

.container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
}

.card-custom {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field, .btn-primary {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 10px;
}

p a {
    color: #3498db;
}

p a:hover {
    color: #2980b9;
}
@media (max-width: 600px) {
    .container-custom{
        min-height: auto;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
    }
    .card-custom {
        min-height: auto;
        align-items: flex-start;
        margin-top: 20px;
    }
}