.btn-custom {
  background-color: white; 
  border-color: black; 
  color: #0056b3; 
}

.btn-custom:hover {
  background-color: #0056b3; 
  border-color: #003f7f; 
  color: #ffffff;
}

.btn-custom:focus,
.btn-custom:active {
  outline: none;
  background-color: #004080; 
  border-color: #002850;
  color: #ffffff; 
}

div.card.h-100.border-primary.shadow {
  background-color: white;
}

.dark-mode div.card.h-100.border-primary.shadow {
  background-color: #5f5f5f;
}

h3.mb-3 {
  color: black;
}


.dark-mode h3.mb-3 {
  color: white;
}