.btn-custom {
  background-color: white; 
  border-color: black; 
  color: #0056b3; 
}

.btn-custom:hover {
  background-color: #0056b3; 
  border-color: #003f7f; 
  color: #ffffff;
}

.btn-custom:focus,
.btn-custom:active {
  outline: none;
  background-color: #004080; 
  border-color: #002850;
  color: #ffffff; 
}