body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #5f5f5f;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 4rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  margin-left: auto;
  padding-right: 2rem;
}

.nav-button, .dark-mode-button {
  margin: 0 0.5rem;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-button:hover, .dark-mode-button:hover {
  background-color: #555;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  display: none; /* Hide by default */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links.open {
  display: block;
}

.navbar a {
  color: #00d9ff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .navbar {
      flex-wrap: wrap;
  }

  .navbar-left {
      flex: 1;
      justify-content: space-between;
  }

  .menu-button {
      display: block; /* Show on mobile */
  }

  .nav-links {
      display: none; /* Hide by default */
      flex-direction: column;
      width: 100%;
      background-color: #5f5f5f;
      padding: 1rem;
  }

  .nav-links.open {
      display: flex; /* Show when menu is open */
  }

  .navbar-right {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
  }

  .nav-button, .dark-mode-button {
      width: 100%; /* Full width buttons on mobile */
      margin: 0.5rem 0;
  }
}
