/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

header .search-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

header input,
header select,
header button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

header button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: #0056b3;
}

header label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.result-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 300px;
    margin-bottom: 20px;
}

.result-card img {
    width: 100%;
    height: auto;
}

.result-card h2 {
    font-size: 18px;
    margin: 15px;
    text-align: center;
}

.result-card:hover {
    transform: translateY(-10px);
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination button:hover:enabled {
    background-color: #0056b3;
}

.pagination span {
    font-size: 16px;
}

/* Dark Mode Styles */
.dark-mode body {
    background-color: #333;
    color: white;
}

.dark-mode .container {
    background-color: #333;
    color: white;
}

.dark-mode header {
    background-color: #444;
    color: white;
}

.dark-mode header input,
.dark-mode header select,
.dark-mode header button {
    background-color: #555;
    border: 1px solid #777;
    color: white;
}

.dark-mode header button {
    background-color: #007BFF;
}

.dark-mode header button:hover {
    background-color: #0056b3;
}

.dark-mode .result-card {
    background-color: #444;
    color: white;
}

.dark-mode .result-card h2 {
    color: white;
}

.dark-mode .pagination button {
    background-color: #007BFF;
    color: white;
}

.dark-mode .pagination button:hover:enabled {
    background-color: #0056b3;
}
