/* Global Styles for Light Mode */
body, html {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

/* Global Styles for Dark Mode */
body.dark-mode, html.dark-mode {
  background-color: black;
  color: white;
}

.root-container {
  border: none;
}

.root-container.dark-mode {
  background-color: black;
  border: none;
}

body a, body a:visited {
  color: #007bff;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body.dark-mode a, body.dark-mode a:visited {
  color: #00d9ff;
}

body.dark-mode a:hover {
  text-decoration: underline;
}
